src/*.exe
src/mycoin
src/mycoind
src/test_mycoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.mycoin

# Compilation and Qt preprocessor part
*.qm
Makefile
mycoin-qt
Mycoin-Qt.app

# Unit-tests
Makefile.test
mycoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
